/* *********************************************** Main ********************************************* */
/* favored fonts:
		Lucida Sans
		Microsoft Sans Serif
		Times New Roman
		Verdana
		Helvetica
		Arial
*/

Body { 
	font: 400 14px/19px Roboto,sans-serif;
/*
	background: #000033;
	color: #ffffff;
	font-family: helvetica, verdana, arial;
	font-size: 14px;
	scrollbar-base-color: #000033; 
	scrollbar-face-color: #000033; 
	scrollbar-track-color: #000033; 
	scrollbar-arrow-color: #ffffff;
	scrollbar-highlight-color: #000099; 
	scrollbar-3dlight-color: #999900; 
	scrollbar-shadow-color: #666666;
	scrollbar-darkshadow-color: #000000; 
*/
	}
	
hr
	{
	height: 0px;
	border: none;
	border-top: 1px solid #5D8497;
/*
	color:#0000ff;
	Width:90%
*/
	}
	
pre {
        border: 1px solid #C4CFE5;
        background-color: #FBFCFD;
        padding: 4px 6px;
        margin: 4px 8px 4px 2px;
        overflow: auto;
        word-wrap: break-word;
        font-size:  9pt;
        line-height: 125%;
        font-family: monospace, fixed;
        font-size: 105%;
}

/* *********************************************** Links  ******************************************** */
	
a 	{
	color: #4D6C7C;
	font-weight: normal;
	text-decoration: none;
/*
	color: #ffcc00;
	text-decoration: none;
*/
	}
	
a:visited
	{
	color: #597D90;
/*	color: #ffcc00;
*/	}
	
a:hover
	{
	text-decoration: underline;
/*	color: #ffcc00;
	text-decoration: underline;
*/	}

/*	
a:active
	{
	color: #ffffff;
	}
*/

/*	
a.dark
	{
	color: #960000;
	text-decoration: none;
	font-weight: bold;
	font-family: helvetica, verdana, arial;
	padding-left: 1px;
	padding-right: 1px;
	}
	
a.dark:visited
	{
	color: #960000;
	}
	
a.dark:hover
	{
	color: #960000;
	text-decoration: underline;
	}
	
a.dark:active
	{
	color: #009600;
	}
*/	
/*
a.help
	{
	color: #ff0000;
	cursor: help;
	text-decoration: none;
	}
	
a.help:visited
	{
	color: #ff0000;
	}
	
a.help:hover
	{
	color: #ff0000;
	text-decoration: underline;
	}
	
a.help:active
	{
	color: #00ff00;
	}
*/
/*	
a.help_dark
	{
	color: #960000;
	cursor: help;
	text-decoration: none;
	font-weight: bold;
	font-family: helvetica, verdana, arial;
	padding-left: 1px;
	padding-right: 1px;
	}
	
a.help_dark:visited
	{
	color: #960000;
	}
	
a.help_dark:hover
	{
	color: #960000;
	text-decoration: underline;
	}
	
a.help_dark:active
	{
	color: #009600;
	}
*/	
/*
a.password
	{
	color: #ff3333;
	}
	
a.password:visited
	{
	color: #ff3333;
	}
	
a.password:hover
	{
	color: #ff3333;
	text-decoration: underline;
	}
	
a.password:active
	{
	color: #ffffff;
	}
*/
	
/* ********************************************* Titles ********************************************** */
	
/*	
h1	{
	font-size: large;
	text-decoration: underline;
	}
	
h2	{
	font-size: medium;
	text-decoration: underline;
	}
	
h3	{
	font-size: medium;
	text-decoration: underline;
	}

h4	{
	font-size: small;
	text-decoration: underline;
	}
*/
h1.groupheader {
	font-size: 150%;
}

h2.groupheader {
	border-bottom: 1px solid #95B0BD;
	color: #435F6D;
	font-size: 150%;
	font-weight: normal;
	margin-top: 1.75em;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 100%;
}

h3.groupheader {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-transition: text-shadow 0.5s linear;
	-moz-transition: text-shadow 0.5s linear;
	-ms-transition: text-shadow 0.5s linear;
	-o-transition: text-shadow 0.5s linear;
	transition: text-shadow 0.5s linear;
	margin-right: 15px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px cyan;
}


/* ************************************************** Tables ********************************************* */
	
table
	{
	border-color :#cccccc;
	border-style : none;
	border-width: thin;
	}

th	{
/*background-color:#000099;
	color: #ffffff;*/
	background-color: #E8E8E8;
	color: #435F6D;

	padding-top: 3px;
	padding-bottom: 3px;
	border-color :#cccccc;
	border-style: none;
	border-width: thin;
	}
	
td	{
/*	font-family: helvetica, verdana, arial;*/
	font: 400 14px/19px Roboto,sans-serif;

/*	background-color:#000099;
	color: #ffffff;*/
	background-color: #E8E8E8;
	color: #435F6D;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-color :#cccccc;
	border-style: none;
	border-width: thin;
/*	font-size: 14px;*/
	}
	
.plain
	{ /* used to make tables invisible */
	color: #ffffff;
	background-color: #000033;
	border-style: none;
	padding-left: 0%;
	}
	
.grey  /* used with ltblue to display alternate colours in tables and froms */
	{
	color: #000066;
	background-color: #c0c0c0;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.ltblue  /* see .grey*/
	{
	color: #000066;
	background-color: #9c9cff;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.inv
	{ /* used to make tables look inverted */
	border-style:none;
	color:#000033;
	background-color:#ffffff;
	}
	
.invb
	{ /* used to make tables look inverted with a border */
	border-style:solid;
	border-width:thin;
	color:#000033;
	border-color:#0000ff;
	background-color:#ffffff;
	}
	
/* ************************************************ Menus ****************************************** */
	
.path
	{	/* used to style the word 'path' in the menu */
	color: #ff3333;
	font-weight : bold;
	font-size : 14px;
	line-height : 110%;
	font-stretch : narrow;
	font-style : normal;
	}
	
.menutop
	{ /* used for the top of the menu list which includes the path etc */
	line-height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	/*font-size: small;
	font-stretch: narrow;*/
	border: none;
	background-color: #000033;
	}
	
.lk
	{	/* class for menu path link */
	font-weight : bold;
	font-size : 13px;
	line-height : 110%;
	font-stretch : narrow;
	font-style : normal;
	/*font-family: arial, helvetica, verdana;
	font-size : 12px;
	font-style : normal;
	line-height: 120%;*/
	}
	
.menu
	{	/* used for menu title*/
	color : #ffffff;
	font-weight : normal;
	font-size : small;
	font-stretch : narrow;
	font-style : normal;
	line-height : 120%;
	}	
	
.menlist
	{ /* used as a table class for the sub menus */
	font-family: helvetica, verdana, arial;
	font-weight: bold;
	font-size : 12px;
	font-stretch : narrow;
	line-height: 110%;
	padding-top: 2%;
	padding-bottom: 2%;
	border: none;
	background-color: #000099;
	color: #ffcc00
	}
	
.menuhead
	{ /* used as a table class for the sub menu headings */
	font-family: helvetica, verdana, arial;
	font-weight: bold;
	font-size : 11px;
	font-stretch : narrow;
	line-height: 110%;
	padding-top: 0%;
	padding-bottom: 3%;
	border: none;
	background-color: #000099;
	color: #00ff00
	}
	
.menu_green /* use to style submit buttons */
	{
	background-color: darkgreen;
	colour: #ffcc00
	font-family: helvetica, verdana, arial;
	font-weight: bold;
	font-size : 11px;
	font-stretch : narrow;
	line-height: 110%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: none;
	}
	
.menu_red
	{ /* used as a table class for the sub menus password protected areas */
	line-height: 110%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: none;
	background-color: #660000;
	colour: #ffcc00
	}
	
.menulink
	{ /* class for links in the menu*/
	font-size: 11px;
	}
	
.gn	{	/* use for menu hr now red*/
	color : #ff3333;
	width : 50%;
	}
	
/* *******************************************  ***************************************** */
	
.white
	{
	color: #000099;
	background-color: #ffffff;
	border-style: none;
	padding-left: 0%;
	font-size: x-small;
	}
	
.hr
	{ /* used to make backgroung the same colour as <hr> */
	background-color:#0000ff;
	}
	
.framemenu
	{
	border-style: ridge;
	border-color: #000099;
	border-width: thick;
	border-left-style: none;
	border-bottom-style: none;
	}

/* ********************************** Highlighters ************************************* */
	
.highgn
	{
	color: #66ff66;
	font-size: large;
	/*font-style: italic;*/
	}

.highrd
	{	
	color: #ff3333;
	font-size: large;
	/*font-style: italic;*/
	}
	
.highyl
	{	
	color: #ffcc00;
	font-size: large;
	font-style: normal;
	}
	
.highbl
	{
	color: #0000ff;
	font-size: large;
	/*font-style: italic;*/
	}
	
.lowbl
	{	
	color: #66ccff;
	font-size: normal;
	font-style: normal;
	}
	
.lowrd
	{	
	color: #ff3333;
	font-size: normal;
	font-style: normal;
	}
	
.lowyl
	{	
	color: #ffcc00;
	font-size: normal;
	font-style: normal;
	text-decoration: underline;
	}
	
.lowpr
	{	
	color: #cc33ff;
	font-size: normal;
	}
	
.last_mod
	{	
	color: #66ccff;
	font-size: xx-small;
	font-style: normal;
	}
	
.url /* used to colour the URL line of the search results */
	{
	color: #66ff66;
	font-size: normal;
	}
	
.results /* used to style search results summary */
	{
	color: #ff3333;
	font-weight: bold;
	}
	
/* ********************************************** Form Section **************************************** */
	
.button_red /* use to style submit buttons */
	{
	background-color: #990000;
	color: white;
	border-style: ridge;
	border-color: yellow;
	font-family: helvetica, verdana, arial;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	}
	
.button_amber /* use to style submit buttons */
	{
	background-color: #ffcc00;
	color: #000000;
	border-style: ridge;
	border-color: yellow;
	font-family: helvetica, verdana, arial;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	}
	
.button_green /* use to style submit buttons */
	{
	background-color: darkgreen;
	color: white;
	border-style: ridge;
	border-color: yellow;
	font-family: helvetica, verdana, arial;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	}
	
.button_blue /* use to style submit buttons */
	{
	background-color: #000080;
	color: white;
	border-style: ridge;
	border-color: yellow;
	font-family: helvetica, verdana, arial;
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	}
	
.required /* use to style form text boxes that need filling in*/
	{
	background-color: #ffffff;
	color: #000066;
	border-style: inset;
	border-color: #3399cc;
	font-family: helvetica, verdana, arial;
	}
	
.fixed /* use to style form 'text boxes' that cannot be changed*/
	{
	background-color: #9c9cff;
	color: #000066;
	border-style: inset;
	border-color: #3399cc;
	font-family: helvetica, verdana, arial;
	}
	
/* *********************************************** Status Indications *********************************** */
	
.green
	{
	color: #000000;
	background-color: #33cc00;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.amber
	{
	color: #000000;
	background-color: #ffcc33;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.red
	{
	color: #000000;
	background-color: #ff0000;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.blue
	{
	color: #ffffff;
	background-color: #0000ff;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	}
	
.black
	{
	color: #ffffff;
	background-color: #000080;
	border-style : none;
	border-width: thin;
	font-family: helvetica, verdana, arial;
	text-align: center;
	}
	
/* ********************************************** Database Section ******************************************* */
	
/*  All titles on page. */
.title
	{
/*
	font-size: 14px;
	font-weight: bold;
	color: #FFFF00;
	background-color: #000080;
	border: none;
*/
	font-size: 150%;
	font-weight: bold;
	margin: 10px 2px;

	color: #435F6D;
	background-color: #A7BDC8;

	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	}

.viewby 
	{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #3399cc;
	border: none;
	}

.driver /* was used for the drivers menu - now use menlist */
	{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000080;
	border: none;
	}

.device
	{
	font-family: helvetica, verdana, arial;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000080;
	border: none;
	padding-right: 4px;
	padding-left: 4px;
	}

.pagetitle 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFF00;
	background-color: #000080;
	/*text-transform: capitalize;*/
	font-weight: bold;
	}

.listhead 
	{
	background-color: #3399cc;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 4px;
	padding-right: 4px;
	}

.pagetitledetail
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #000080;
	/*text-transform: capitalize;*/
	font-weight: normal;
	}

.notes 
	{
	font-size: 18px;
	color: #FFCC00;
	background-color: #000080;
	border: none;
	padding-right: 4px;
	padding-left: 4px;
	}

.edit 
	{
	font-size: 18px;
	color: #000000;
	background-color: #CCCCCC;
	border: 2px outset #FFFF00;
	padding-right: 4px;
	padding-left: 4px;
	margin: 8px;
	}

/* **************************************** Call Log *********************************** */
	
.call_grey  /* used with ltblue to display alternate colours in tables and froms */
	{
	color: #000066;
	background-color: #c0c0c0;
	border-style : none;
	border-width: thin;
	/*padding-top: 1%;
	padding-bottom: 1%;*/
	padding-left: 1%;
	padding-right: 1%;
	font-size: 12px;
	font-family: helvetica, verdana, arial;
	}
	
.call_ltblue  /* see .call_grey*/
	{
	color: #000066;
	background-color: #9c9cff;
	border-style : none;
	border-width: thin;
	/*padding-top: 1%;
	padding-bottom: 1%;*/
	padding-left: 1%;
	padding-right: 1%;
	font-size: 12px;
	font-family: helvetica, verdana, arial;
	}
	
.call_listhead 
	{
	background-color: #3399cc;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 1px;
	padding-right: 1px;
	}
	
.page
	{
	font-size: 10px;
	}